html {
  font-size: 10px;
}
@media (max-width: 1199px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 1199px) {
  html {
    font-size: 8px;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: "SFMonoRegular";
  font-size: 1rem;
  color: #000;
  overflow: hidden;
  transition: overflow 0.5s ease;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
/* Common styles */
.backgrounds {
  position: absolute;
  width: 100%;
}
.common-bg {
  z-index: -2;
  height: 100vh;
  width: 100%;
}
.common-bg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-image: linear-gradient(to top, #000000, rgba(0, 0, 0, 0));
  background-clip: content-box;
  -webkit-mask-image: linear-gradient(to top, transparent 5%, black);
  mask-image: linear-gradient(to top, transparent 5%, black);
}
.transform > video {
  transform: rotate(180deg) scaleX(-1);
}
.first-screen {
  position: relative;
  height: 100vh;
  overflow: hidden;
  transition: transfrorm 3s ease;
}
@media (max-width: 1199px) {
  .first-screen {
    padding-top: 6rem;
  }
}
@media (max-width: 767px) {
  .first-screen {
    padding-top: 3rem;
  }
}
.first-screen.no-visible {
  animation: fade-out 3s linear;
}
@keyframes fade-out {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.first-screen__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.first-screen__title {
  text-align: center;
  font-family: 'SFMonoHeavyItalic', sans-serif;
  font-size: 1.7rem;
  line-height: 2rem;
  color: #121212;
  margin-bottom: 22.1rem;
}
@media (max-width: 767px) {
  .first-screen__title {
    font-size: 1.6rem;
    line-height: 1.9rem;
    margin-bottom: 12.2rem;
  }
}
.first-screen__logo {
  width: 21.5%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.first-screen__logo img {
  width: 100%;
}
@media (max-width: 991px) {
  .first-screen__logo {
    width: 40%;
  }
}
@media (max-width: 767px) {
  .first-screen__logo {
    width: 60%;
  }
}
@media (max-width: 565px) {
  .first-screen__logo {
    width: 90%;
  }
}
.first-screen__ticker {
  position: absolute;
  bottom: 0;
}
#first-screen__canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.other-content {
  transition: opacity 0.5s ease;
  display: none;
  overflow: hidden;
  position: relative;
}
.other-content.visible {
  animation: fade-in 3s linear;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.nav {
  font-family: 'SFMonoHeavyItalic', sans-serif;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  position: relative;
  z-index: 1;
  border-bottom: 0.1rem solid #000;
}
@media (max-width: 767px) {
  .nav {
    justify-content: flex-end;
    padding: 3.4rem 2.4rem 2.4rem;
    top: 0;
  }
}
.nav__logo {
  width: 9rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5rem;
}
.nav__logo img {
  width: 100%;
}
@media (max-width: 991px) {
  .nav__logo {
    width: 4.5rem;
    left: 3rem;
  }
}
@media (max-width: 767px) {
  .nav__logo {
    width: 3.6rem;
    left: 2.4rem;
  }
}
.nav__inner {
  padding: 5rem 0 3rem 0;
  z-index: 2;
}
@media (max-width: 991px) {
  .nav__inner {
    padding: 4rem 0 4rem 0;
  }
}
@media (max-width: 767px) {
  .nav__inner {
    display: flex;
    transform: translateY(-100%);
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 4rem;
    flex-direction: column;
    transition: transform 0.5s linear;
  }
}
.nav__link {
  font-size: 1.7rem;
  line-height: 2rem;
  color: #121212;
  margin-right: 7rem;
  text-decoration: none;
}
.nav__link:last-child {
  margin-right: 0;
}
@media (max-width: 767px) {
  .nav__link {
    margin-bottom: 2rem;
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .nav__link:last-child {
    margin-bottom: 0;
  }
}
.nav__close {
  display: none;
}
@media (max-width: 767px) {
  .nav__close {
    display: block;
    position: absolute;
    right: 4rem;
    top: 4rem;
  }
}
.nav__burger {
  display: none;
}
@media (max-width: 767px) {
  .nav__burger {
    display: block;
  }
}
.ticker {
  font-family: 'Hiragino', sans-serif;
  overflow: hidden;
  white-space: nowrap;
  background: #0000FE;
  position: relative;
  z-index: 1;
}
@media (max-width: 767px) {
  .ticker {
    display: none;
  }
}
.ticker__text {
  display: inline-block;
  font-style: normal;
  font-weight: 800;
  font-size: 2.3rem;
  line-height: 3.4rem;
  letter-spacing: 0.28em;
  color: #FFFFFF;
  animation: ticker 200s linear infinite;
}
@media (max-width: 767px) {
  .ticker__text {
    font-size: 2rem;
  }
}
@media (max-width: 565px) {
  .ticker__text {
    font-size: 1.6rem;
  }
}
@keyframes ticker {
  0% {
    transform: translateX(1%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.footer {
  position: relative;
  padding-top: 41.3rem;
  padding-bottom: 6rem;
}
@media (max-width: 767px) {
  .footer {
    padding-top: 2rem;
  }
}
.footer__inner {
  padding-top: 5rem;
  padding-left: 12.5rem;
  padding-right: 12.5rem;
  border-top: #000000 0.3rem solid;
  max-width: 180rem;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .footer__inner {
    padding-left: 6.5rem;
    padding-right: 6.5rem;
  }
}
@media (max-width: 767px) {
  .footer__inner {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7rem;
}
@media (max-width: 1368px) {
  .footer__nav {
    flex-wrap: wrap;
  }
}
.footer__section {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1368px) {
  .footer__section {
    width: 50%;
    align-items: center;
  }
  .footer__section:nth-child(3),
  .footer__section:nth-child(4) {
    margin-top: 5rem;
  }
}
@media (max-width: 767px) {
  .footer__section:nth-child(2),
  .footer__section:nth-child(3),
  .footer__section:nth-child(4) {
    width: 100%;
    align-items: center;
  }
  .footer__section:nth-child(2) {
    margin-top: 4rem;
  }
}
.footer__title {
  font-family: 'SFMonoRegular', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: #000000;
  margin-bottom: 3rem;
}
@media (max-width: 767px) {
  .footer__title {
    margin-bottom: 2rem;
  }
}
.footer__link {
  font-family: 'SFMonoRegular', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #121212;
  text-decoration: none;
  margin-bottom: 2rem;
  text-align: left;
}
.footer__link:last-child {
  margin-bottom: 0;
}
@media (max-width: 1368px) {
  .footer__link {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .footer__link {
    margin-bottom: 1rem;
  }
}
@media (max-width: 565px) {
  .footer__link {
    text-align: center;
  }
}
.footer__links {
  display: flex;
  margin-bottom: 1.6rem;
  flex-wrap: wrap;
  justify-content: center;
}
.footer__small-link {
  font-family: 'SFMonoRegular', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.2rem;
  color: #000000;
  text-decoration: none;
  margin-right: 2rem;
  text-align: center;
}
.footer__small-link:last-child {
  margin-right: 0;
}
.footer__social-links {
  text-align: center;
}
.footer__social-icon {
  text-decoration: none;
}
@media (max-width: 767px) {
  .footer__form {
    margin: 0 auto;
  }
}
.footer__form > form {
  position: relative;
  max-width: 30rem;
}
.footer__form > form > img {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.footer__form-title {
  font-family: 'SFMonoRegular', sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.8rem;
  color: #000000;
  margin-bottom: 5rem;
}
.footer__label {
  font-family: 'SFMonoRegular', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #000000;
}
.footer__input {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-family: 'Hiragino', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 3rem;
  color: #333333;
  width: 30rem;
  background-color: transparent;
  border: none;
  border-bottom: 0.2rem solid #000;
}
.footer__input:focus-visible {
  outline: none;
  border: none;
  border-bottom: 0.2rem solid #000;
  background-color: transparent;
}
@media (max-width: 565px) {
  .footer__input {
    width: 100%;
    font-size: 1.2rem;
  }
}
/* About content */
.about {
  margin-top: 16rem;
  margin-bottom: 17.5rem;
  position: relative;
  z-index: 1;
}
.about__inner {
  padding: 0 7.8rem;
}
.about__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__title {
  font-family: 'Hiragino', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 5.5rem;
  line-height: 8.2rem;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  margin-bottom: 2rem;
}
.about__line {
  width: 0.3rem;
  height: 8.8rem;
  background-color: #000000;
  margin-bottom: 3rem;
}
.about__line:last-child {
  margin-top: 3rem;
}
.about__text,
.about__list {
  font-family: 'SFMonoRegular', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.1rem;
  text-align: center;
  color: #000000;
}
.about__list {
  text-align: left;
  padding: 0;
  margin: 3.2rem;
}
.about__contacts {
  margin-bottom: 10rem;
}
.about__contact {
  margin-bottom: 3rem;
  text-align: center;
}
.about__contact:last-child {
  margin-bottom: 0;
}
.about__contact h4 {
  font-family: 'Hiragino';
  font-style: normal;
  font-weight: 800;
  font-size: 2rem;
  line-height: 3rem;
  color: #000000;
  margin-bottom: 2rem;
}
.about__contact a {
  text-decoration: none;
  font-family: 'SFMonoRegular', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #000000;
}
.about__icons {
  text-align: center;
}
.about__link {
  margin-right: 3.5rem;
  text-decoration: none;
}
.about__link:last-child {
  margin-right: 0;
}
