html {
  font-size: 10px;
}
@media (max-width: 1199px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 1199px) {
  html {
    font-size: 8px;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: "SFMonoRegular";
  font-size: 1rem;
  color: #000;
  overflow: hidden;
  transition: overflow 0.5s ease;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
/* Common styles */
.common-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120%;
  height: 120%;
  z-index: -1;
}
.common-bg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.first-screen {
  padding-top: 9.2rem;
  position: relative;
  height: 100vh;
  overflow: hidden;
  transition: transfrorm 3s ease;
}
@media (max-width: 1199px) {
  .first-screen {
    padding-top: 6rem;
  }
}
@media (max-width: 767px) {
  .first-screen {
    padding-top: 3rem;
  }
}
.first-screen.no-visible {
  animation: fade-out 3s linear;
}
@keyframes fade-out {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.first-screen__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.first-screen__title {
  text-align: center;
  font-family: 'SFMonoHeavyItalic', sans-serif;
  font-size: 1.7rem;
  line-height: 2rem;
  color: #121212;
  margin-bottom: 22.1rem;
}
@media (max-width: 767px) {
  .first-screen__title {
    font-size: 1.6rem;
    line-height: 1.9rem;
    margin-bottom: 12.2rem;
  }
}
.first-screen__logo {
  width: 21.5%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.first-screen__logo video {
  width: 100%;
}
@media (max-width: 991px) {
  .first-screen__logo {
    width: 40%;
  }
}
@media (max-width: 767px) {
  .first-screen__logo {
    width: 60%;
  }
}
@media (max-width: 565px) {
  .first-screen__logo {
    width: 90%;
  }
}
.first-screen__ticker {
  position: absolute;
  bottom: 0;
}
#first-screen__canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.other-content {
  transition: opacity 0.5s ease;
  display: none;
  overflow: hidden;
}
@media (max-width: 767px) {
  .other-content {
    padding-top: 8.1rem;
  }
}
.other-content.visible {
  animation: fade-in 3s linear;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.nav {
  font-family: 'SFMonoHeavyItalic', sans-serif;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 2;
  border-bottom: 0.1rem solid #000;
}
@media (max-width: 767px) {
  .nav {
    justify-content: flex-end;
    padding: 3.4rem 2.4rem 2.4rem;
    top: 0;
  }
}
.nav__logo {
  width: 9rem;
  position: absolute;
  top: 0;
  left: 5rem;
}
.nav__logo video {
  width: 100%;
}
@media (max-width: 767px) {
  .nav__logo {
    width: 3.6rem;
    top: 3rem;
    left: 2.4rem;
  }
}
.nav__inner {
  padding: 5rem 0 3rem 0;
}
@media (max-width: 991px) {
  .nav__inner {
    padding: 4rem 0 4rem 0;
  }
}
@media (max-width: 767px) {
  .nav__inner {
    display: flex;
    transform: translateY(-100%);
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 4rem;
    flex-direction: column;
    transition: transform 0.5s linear;
  }
}
.nav__link {
  font-size: 1.7rem;
  line-height: 2rem;
  color: #121212;
  margin-right: 7rem;
  text-decoration: none;
}
.nav__link:last-child {
  margin-right: 0;
}
@media (max-width: 767px) {
  .nav__link {
    margin-bottom: 2rem;
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .nav__link:last-child {
    margin-bottom: 0;
  }
}
.nav__close {
  display: none;
}
@media (max-width: 767px) {
  .nav__close {
    display: block;
    position: absolute;
    right: 4rem;
    top: 4rem;
  }
}
.nav__burger {
  display: none;
}
@media (max-width: 767px) {
  .nav__burger {
    display: block;
  }
}
.ticker {
  font-family: 'Hiragino', sans-serif;
  overflow: hidden;
  white-space: nowrap;
  background: #0000FE;
  margin-top: 10rem;
}
@media (max-width: 767px) {
  .ticker {
    display: none;
  }
}
.ticker__text {
  display: inline-block;
  font-style: normal;
  font-weight: 800;
  font-size: 2.3rem;
  line-height: 3.4rem;
  letter-spacing: 0.28em;
  color: #FFFFFF;
  animation: ticker 200s linear infinite;
}
@media (max-width: 767px) {
  .ticker__text {
    font-size: 2rem;
  }
}
@media (max-width: 565px) {
  .ticker__text {
    font-size: 1.6rem;
  }
}
@keyframes ticker {
  0% {
    transform: translateX(1%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.footer {
  position: relative;
  padding-top: 41.3rem;
  padding-bottom: 6rem;
}
@media (max-width: 767px) {
  .footer {
    padding-top: 2rem;
  }
}
.footer__inner {
  padding-top: 5rem;
  padding-left: 12.5rem;
  padding-right: 12.5rem;
  border-top: #000000 0.3rem solid;
  max-width: 180rem;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .footer__inner {
    padding-left: 6.5rem;
    padding-right: 6.5rem;
  }
}
@media (max-width: 767px) {
  .footer__inner {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7rem;
}
@media (max-width: 991px) {
  .footer__nav {
    flex-wrap: wrap;
  }
}
.footer__section {
  display: flex;
  flex-direction: column;
}
@media (max-width: 991px) {
  .footer__section:nth-child(1),
  .footer__section:nth-child(2) {
    width: 50%;
  }
  .footer__section:nth-child(2) {
    align-items: flex-end;
  }
  .footer__section:nth-child(3) {
    width: 100%;
    margin-top: 4rem;
    align-items: center;
  }
}
@media (max-width: 565px) {
  .footer__section:nth-child(1),
  .footer__section:nth-child(2),
  .footer__section:nth-child(3) {
    width: 100%;
    align-items: center;
  }
  .footer__section:nth-child(2) {
    margin-top: 4rem;
  }
}
.footer__title {
  font-family: 'SFMonoRegular', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: #000000;
  margin-bottom: 3rem;
}
@media (max-width: 767px) {
  .footer__title {
    margin-bottom: 2rem;
  }
}
.footer__link {
  font-family: 'SFMonoRegular', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #121212;
  text-decoration: none;
  margin-bottom: 2rem;
  text-align: left;
}
.footer__link:last-child {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .footer__link {
    margin-bottom: 1rem;
  }
}
@media (max-width: 565px) {
  .footer__link {
    text-align: center;
  }
}
.footer__links {
  display: flex;
  margin-bottom: 1.6rem;
  flex-wrap: wrap;
  justify-content: center;
}
.footer__small-link {
  font-family: 'SFMonoRegular', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.2rem;
  color: #000000;
  text-decoration: none;
  margin-right: 2rem;
  text-align: center;
}
.footer__small-link:last-child {
  margin-right: 0;
}
.footer__social-links {
  text-align: center;
}
.footer__social-icon {
  text-decoration: none;
}
/* Article content */
.intro {
  margin-top: 2.5rem;
  margin-bottom: 6.6rem;
}
@media (max-width: 767px) {
  .intro {
    margin-bottom: 5rem;
  }
}
.intro__inner {
  text-align: center;
}
.intro__title {
  font-family: 'Hiragino', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 5.5rem;
  line-height: 8.2rem;
  color: #000000;
  margin-bottom: 9rem;
}
@media (max-width: 767px) {
  .intro__title {
    font-size: 1.1rem;
    line-height: 1.6rem;
    margin-bottom: 2rem;
  }
}
.intro__img {
  margin-bottom: 5rem;
}
@media (max-width: 1650px) {
  .intro__img {
    padding: 0 2rem;
  }
  .intro__img img {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .intro__img {
    padding: 0 2.4rem;
    margin-bottom: 1rem;
  }
}
.intro__text {
  font-family: 'SFMonoRegular', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #121212;
  max-width: 87.8rem;
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .intro__text {
    max-width: 80%;
    font-size: 1rem;
    line-height: 1.2rem;
  }
}
.subject {
  margin-bottom: 16rem;
}
@media (max-width: 767px) {
  .subject {
    margin-bottom: 5rem;
  }
}
.subject__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1199px) {
  .subject__inner {
    padding: 0 5.7rem;
  }
}
.subject__video {
  display: inline-block;
  max-width: 80rem;
  margin-bottom: 13.3rem;
}
.subject__video video {
  width: 100%;
}
@media (max-width: 767px) {
  .subject__video {
    margin-bottom: 6rem;
  }
}
.subject__img {
  position: relative;
  display: inline-block;
  margin-bottom: 10rem;
}
.subject__img::after {
  content: '';
  width: 100%;
  height: 100%;
  border: 0.4rem solid #000000;
  position: absolute;
  top: -5.5rem;
  left: 5.5rem;
  z-index: -1;
}
.subject__img img {
  background-color: #fff;
}
@media (max-width: 1199px) {
  .subject__img::after {
    border: 0.1rem solid #000000;
    top: -3.8rem;
    left: 3.8rem;
  }
  .subject__img img {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .subject__img {
    margin-bottom: 5rem;
  }
  .subject__img::after {
    top: -1.1rem;
    left: 1rem;
  }
}
.subject__logo {
  max-width: 45.7rem;
  border: 0.3rem solid #000000;
}
.subject__logo video {
  width: 100%;
}
@media (max-width: 767px) {
  .subject__logo {
    max-width: 9.2rem;
    border: 0.1rem solid #000000;
  }
}
.principles {
  padding-bottom: 10rem;
}
@media (max-width: 767px) {
  .principles {
    padding-bottom: 2rem;
  }
}
.principles__title {
  font-family: 'Hiragino', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 3rem;
  line-height: 4.5rem;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 5rem;
  text-align: center;
}
@media (max-width: 767px) {
  .principles__title {
    font-size: 1.1rem;
    line-height: 1.6rem;
    max-width: 50%;
    margin: 0 auto;
  }
}
.principles__text {
  font-family: 'SFMonoRegular', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.1rem;
  text-align: center;
  color: #000000;
  max-width: 108rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}
@media (max-width: 767px) {
  .principles__text {
    font-size: 1rem;
    line-height: 1.2rem;
    padding: 0 2.4rem;
    margin-bottom: 2rem;
  }
}
.principle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
}
.principle:last-child {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .principle {
    margin-bottom: 5rem;
  }
}
.principle__title {
  display: flex;
  font-family: 'SFMonoRegular', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #000000;
  margin-bottom: 2rem;
  margin: 0 auto;
}
.principle__title span {
  color: #D93A22;
}
@media (max-width: 767px) {
  .principle__title {
    font-size: 1rem;
    line-height: 1.2rem;
    margin-bottom: 0.4rem;
  }
}
.principle__text {
  font-family: 'SFMonoRegular', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #000000;
  max-width: 38.2rem;
  text-align: center;
  margin-bottom: 10rem;
}
.principle__text_2 {
  max-width: 111rem;
}
.principle__text_4 {
  max-width: 120.4rem;
}
.principle__text_5 {
  max-width: 115.1rem;
  margin-bottom: 5rem;
}
@media (max-width: 767px) {
  .principle__text {
    font-size: 1rem;
    line-height: 1.2rem;
    max-width: 50%;
    margin-bottom: 5rem;
  }
  .principle__text_2,
  .principle__text_4,
  .principle__text_5 {
    max-width: 100%;
    padding: 0 2.4rem;
  }
}
.principle__img {
  max-width: 100%;
}
.principle__img img {
  width: 100%;
}
@media (max-width: 767px) {
  .principle__img {
    padding: 0 1.2rem;
  }
  .principle__img_subject {
    max-width: 28.8rem;
  }
}
.gallery__img {
  max-width: 100%;
}
.gallery__img img {
  width: 100%;
  display: block;
}
