@font-face {
  font-family: 'SFMonoRegular';
  src: url('SFMonoRegular/SFMonoRegular.woff2') format('woff2'),
       url('SFMonoRegular/SFMonoRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: 'MullerRegularItalic';
  src: url('MullerRegularItalic/MullerRegularItalic.woff2') format('woff2'),
       url('MullerRegularItalic/MullerRegularItalic.woff') format('woff'),
       url('MullerRegularItalic/MullerRegularItalic.ttf') format('truetype'),
       url('MullerRegularItalic/MullerRegularItalic.eot') format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: 'SFMonoBold';
  src: url('SFMonoBold/SFMonoBold.woff2') format('woff2'),
       url('SFMonoBold/SFMonoBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

 @font-face {
  font-family: 'SFMonoBoldItalic';
  src: url('SFMonoBoldItalic/SFMonoBoldItalic.woff2') format('woff2'),
       url('SFMonoBoldItalic/SFMonoBoldItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

 @font-face {
  font-family: 'SFMonoHeavyItalic';
  src: url('SFMonoHeavyItalic/SFMonoHeavyItalic.woff2') format('woff2'),
       url('SFMonoHeavyItalic/SFMonoHeavyItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: 'MullerLight';
  src: url('MullerLight/MullerLight.woff2') format('woff2'),
       url('MullerLight/MullerLight.woff') format('woff'),
       url('MullerLight/MullerLight.ttf') format('truetype'),
       url('MullerLight/MullerLight.eot') format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MullerUltraLight';
  src: url('MullerUltraLight/MullerUltraLight.woff2') format('woff2'),
       url('MullerUltraLight/MullerUltraLight.woff') format('woff'),
       url('MullerUltraLight/MullerUltraLight.ttf') format('truetype'),
       url('MullerUltraLight/MullerUltraLight.eot') format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MullerThin';
  src: url('MullerThin/MullerThin.woff2') format('woff2'),
       url('MullerThin/MullerThin.woff') format('woff'),
       url('MullerThin/MullerThin.ttf') format('truetype'),
       url('MullerThin/MullerThin.eot') format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
} */